<h1 class='title'>Genshin Impact plan!</h1>
<main class='mainContainer'>

  <div class='myWeapon'></div>

  <div class='mainBox'>
    <div class='firstCol myArtifacts'>
      <div class='flower'>
      </div>
      <div class='plume'>
      </div>
      <div class='sands'>
      </div>
      <div class='goblet'>
      </div>
      <div class='circlet'>
      </div>
    </div>
    <div class='secondCol wantedArtifacts'>
      <div class='flower'>
      </div>
      <div class='plume'>
      </div>
      <div class='sands'>
      </div>
      <div class='goblet'>
      </div>
      <div class='circlet'>
      </div>
    </div>
    <div class='substatText'>
      <div class='flowerText'>
      </div>
      <div class='plumeText'>
      </div>
      <div class='sandsText'>
      </div>
      <div class='gobletText'>
      </div>
      <div class='circletText'>
      </div>
    </div>
    <div class='thirdCol'>
      <div class='tickbox1'></div>
      <div class='tickbox2'></div>
      <div class='tickbox3'></div>
      <div class='tickbox4'></div>
      <div class='tickbox5'></div>
      <div>
        <button class='clear'>Clear</button>
      </div>
    </div>
    <div class='artifactImgs draggable'>
    </div>
    <div>
      <button class='clear'>Clear</button>
    </div>
    <div class='myWeapon'></div>
  </div>

  <div class='repeatedMainBox'></div>


  <div class='apiBox'>
    <div class='gridareaa'>
      <label for='chars'>Select a char:</label>
      <select name='chars' onchange="myFunction()" class='charName'>
        {{#each characterNames}}
        <option value={{this}}>{{this}}</option>
        {{/each}}
      </select>
    </div>
    <div class='weaponReco gridareab'>
    </div>
    <div class='artiSetApi gridareac'>
    </div>
    <div class='sgcApi gridaread'>
    </div>
    <div class='substatsApi gridareae'>
    </div>
  </div>
  </div>
  </div>

</main>

<script>
  const genshinNames = {{{ chracterNamestString }}}
  console.log(genshinNames)
  const genshinDeets = {{{ chracterDeetString }}}
  console.log(genshinDeets)
  function myFunction() {
    let nameCheck = document.querySelector('.charName').value
    const characterDetails = genshinDeets[nameCheck]
    console.log(characterDetails)
    document.querySelector('.weaponReco').innerHTML = characterDetails.weapon
    document.querySelector('.artiSetApi').innerHTML = characterDetails.arti
    document.querySelector('.sgcApi').innerHTML = characterDetails.sgc
    document.querySelector('.substatsApi').innerHTML = characterDetails.substat

  }

</script>