<main class='mainContainer'>
  <h1 class='title'>GI plan!</h1>
  <div class='mainBox'>
    <div class='firstCol myArtifacts'>
      <div class='flower'>
      </div>
      <div class='plume'>
      </div>
      <div class='sands'>
      </div>
      <div class='goblet'>
      </div>
      <div class='circlet'>
      </div>
    </div>
    <div class='secondCol wantedArtifacts'>
      <div class='flower'>
      </div>
      <div class='plume'>
      </div>
      <div class='sands'>
      </div>
      <div class='goblet'>
      </div>
      <div class='circlet'>
      </div>
    </div>
    <div class='substatText'>
      <div class='flowerText'>
      </div>
      <div class='plumeText'>
      </div>
      <div class='sandsText'>
      </div>
      <div class='gobletText'>
      </div>
      <div class='circletText'>
      </div>
    </div>
    <div class='artifactImgs'>
    </div>
    <div>
      <button class='clear'>Clear</button>
    </div>
    <div class='myWeapon'></div>
  </div>

  <div class='repeatedMainBox'></div>



  <div class='apiBox'>
    <div class='charSelect'>
    </div>
    <div class='weaponReco'>
    </div>
    <div class='artApi'>
      <div class='artSetApi'></div>
      <div class='sgcApi'></div>
      <div class='substatsApi'></div>
    </div>
  </div>
</main>