<h1 class='title'>Genshin Impact plan!</h1>
<div class='myWeapon'>
  Current Weapon: <textarea class='weaponText'></textarea>
</div>
<main class='mainContainer'>
  <div class='mainBox'>
    {{!-- <div class='firstCol myArtifacts'> --}}
      <div class='myFlower border'>
      </div>
      <div class='myPlume border'>
      </div>
      <div class='mySands border'>
      </div>
      <div class='myGoblet border'>
      </div>
      <div class='myCirclet border'>
      </div>
      {{!--
    </div> --}}
    {{!-- <div class='secondCol wantedArtifacts'> --}}
      <div class='flower  border'>
      </div>
      <div class='plume border'>
      </div>
      <div class='sands border'>
      </div>
      <div class='goblet border'>
      </div>
      <div class='circlet border'>
      </div>
      {{!--
    </div> --}}
    {{!-- <div class='substatText'> --}}
      <div class='flowerText border'>
        <textarea class='textBoxSize' rows="5"></textarea>
      </div>
      <div class='plumeText border'>
        <textarea class='textBoxSize' rows="5"></textarea>
      </div>
      <div class='sandsText border'>
        <textarea class='textBoxSize' rows="5"></textarea>
      </div>
      <div class='gobletText border'>
        <textarea class='textBoxSize' rows="5"></textarea>
      </div>
      <div class='circletText border'>
        <textarea class='textBoxSize' rows="5"></textarea>
      </div>
      {{!--
    </div> --}}
    {{!-- <div class='thirdCol'> --}}
      <div class='tickbox1 center border'>
        <input type="checkbox">
      </div>
      <div class='tickbox2 center border'>
        <input type="checkbox">
      </div>
      <div class='tickbox3 center border'>
        <input type="checkbox">
      </div>
      <div class='tickbox4 center border'>
        <input type="checkbox">
      </div>
      <div class='tickbox5  center border'>
        <input type="checkbox">
      </div>
      {{!--
    </div> --}}
    <div class='artifactImgs draggable  border'>
    </div>

  </div>
  <button class='clear  border'>Clear</button>



  <div class='apiBox'>

    <div class='gridarea'>
      <label for='chars'>Recommended Build:<br>Select a character!:</label>
      <select name='chars' onchange="myFunction()" class='charName'>
        {{#each characterNames}}
        <option value={{this}}>{{this}}</option>
        {{/each}}
      </select>
    </div>
    <div class='weaponReco gridareab'>
    </div>
    <div class='artiSetApi gridareac'>
    </div>
    <div class='sgcApi gridaread'>
    </div>
    <div class='substatsApi gridareae'>
    </div>
  </div>

</main>

<script>
  const genshinNames = {{{ chracterNamestString }}}
  console.log(genshinNames)
  const genshinDeets = {{{ chracterDeetString }}}
  console.log(genshinDeets)
  function myFunction() {
    let nameCheck = document.querySelector('.charName').value
    const characterDetails = genshinDeets[nameCheck]
    console.log(characterDetails)
    document.querySelector('.weaponReco').innerHTML = characterDetails.weapon
    document.querySelector('.artiSetApi').innerHTML = characterDetails.arti
    document.querySelector('.sgcApi').innerHTML = characterDetails.sgc
    document.querySelector('.substatsApi').innerHTML = characterDetails.substat

  }

</script>