body {
  padding: 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

.mainContainer {
  display: flex;
}

.title {
}
.myWeapon {
  height: 40px;
  width: 500px;
}
.weaponText {
  height: 15px;
  width: 150px;
}
.mainBox {
  display: grid;
  grid-template-columns: 160px 160px 300px 30px 520px;
  grid-template-rows: 160px 160px 160px 160px 160px;
  gap: 4px 4px;
  border: 2px solid black;
}
/* .firstCol {
}

.secondCol {
}
.wantedArtifacts {
} */
.myArtifacts {
  grid-row-start: 1;
  grid-row-end: 5;
}
.border {
  border: 2px solid black;
}
.myFlower {
  grid-row-start: 1;
}
.myPlume {
  grid-row-start: 2;
}
.mySands {
  grid-row-start: 3;
}
.myGoblet {
  grid-row-start: 4;
}
.myCirclet {
  grid-row-start: 5;
}

.flower {
  grid-column-start: 2;
  grid-row-start: 1;
}
.plume {
  grid-column-start: 2;
  grid-row-start: 2;
}
.sands {
  grid-column-start: 2;
  grid-row-start: 3;
}
.goblet {
  grid-column-start: 2;
  grid-row-start: 4;
}
.circlet {
  grid-column-start: 2;
  grid-row-start: 5;
}

/* .substatText {
} */
.flowerText {
  grid-column-start: 3;
  grid-row-start: 1;
}
.plumeText {
  grid-column-start: 3;
  grid-row-start: 2;
}
.sandsText {
  grid-column-start: 3;
  grid-row-start: 3;
}
.gobletText {
  grid-column-start: 3;
  grid-row-start: 4;
}
.circletText {
  grid-column-start: 3;
  grid-row-start: 5;
}
.textBoxSize {
  width: 290px;
  height: 150px;
  resize: none;
}
/* .thirdCol {
} */
.center {
  align-self: center;
  justify-self: center;
}
.tickbox1 {
  grid-column-start: 4;
  grid-row-start: 1;
}
.tickbox2 {
  grid-column-start: 4;
  grid-row-start: 2;
}
.tickbox3 {
  grid-column-start: 4;
  grid-row-start: 3;
}
.tickbox4 {
  grid-column-start: 4;
  grid-row-start: 4;
}
.tickbox5 {
  grid-column-start: 4;
  grid-row-start: 5;
}
.clear {
  display: flex;
  width: 50px;
  height: 50px;
  align-self: flex-end;
  text-align: center;
}

.artifactImgs {
  grid-column-start: 5;
  grid-row-start: 1;
  grid-row-end: 6;
  overflow: scroll;
}
.artifactImg {
  display: inline-block;
  width: 160px;
  height: 160px;
  text-align: center;
}

.apiBox {
  display: grid;
  grid-template-columns: 150px 150px;
  grid-template-rows: 50px 40px 70px 70px;
  gap: 8px 8px;
  grid-template-areas:
    'a a'
    'b b'
    'c d'
    'c e';
}
.charSelect {
}
.weaponReco {
}
.artiApi {
}
.artiSetApi {
}
.statsApi {
}
.sgcApi {
}
.substatsApi {
}
.gridareaa {
  grid-area: a;
}

.gridareab {
  grid-area: b;
}

.gridareac {
  grid-area: c;
}

.gridaread {
  grid-area: d;
}
.gridareae {
  grid-area: e;
}

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=80)';
  filter: alpha(opacity=80);
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=20)';
  filter: alpha(opacity=20);
}
