body {
  padding: 50px;
  font: 18px 'Lucida Grande', Helvetica, Arial, sans-serif;
}
.background {
  background-image: url(/moreImages/wallpaper.png);
  color: white;
  background-color: rgb(109, 158, 180);
  border: 4px solid black;
  border-radius: 5px;
  border-bottom-width: 0px;
}
main {
  border: 4px solid black;
  border-radius: 5px;
}
.wholeBox {
  max-width: 100vh;
  min-width: 1352px;
}
.mainContainer {
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: 1380px 40px 300px;
  background-color: white;
}
.paimon {
  height: 70px;
  width: auto;
  border-radius: 50%;
  float: right;
}
.paimon2 {
  height: 120px;
  width: auto;
  border-radius: 50%;
}
.myWeapon {
  height: 40px;
  width: 500px;
  align-items: center;
  display: flex;
  align-items: center;
}
.weaponText {
  height: 25px;
  width: 250px;
  resize: none;
  margin: 20px;
}
textarea {
  font: 18px 'Lucida Grande', Helvetica, Arial, sans-serif;
}
.mainBox {
  display: grid;
  grid-template-columns: 200px 200px 250px 30px 650px;
  grid-template-rows: 200px 200px 200px 200px 200px;
  gap: 4px 4px;
}

.myArtifacts {
  grid-row-start: 1;
  grid-row-end: 5;
}
.border {
  border: 2px solid black;
}
.myFlower {
  grid-row-start: 1;
}
.myPlume {
  grid-row-start: 2;
}
.mySands {
  grid-row-start: 3;
}
.myGoblet {
  grid-row-start: 4;
}
.myCirclet {
  grid-row-start: 5;
}

.flower {
  grid-column-start: 2;
  grid-row-start: 1;
}
.plume {
  grid-column-start: 2;
  grid-row-start: 2;
}
.sands {
  grid-column-start: 2;
  grid-row-start: 3;
}
.goblet {
  grid-column-start: 2;
  grid-row-start: 4;
}
.circlet {
  grid-column-start: 2;
  grid-row-start: 5;
}

.flowerText {
  grid-column-start: 3;
  grid-row-start: 1;
}
.plumeText {
  grid-column-start: 3;
  grid-row-start: 2;
}
.sandsText {
  grid-column-start: 3;
  grid-row-start: 3;
}
.gobletText {
  grid-column-start: 3;
  grid-row-start: 4;
}
.circletText {
  grid-column-start: 3;
  grid-row-start: 5;
}
.textBoxSize {
  width: 238px;
  height: 190px;
  resize: none;
}

.center {
  align-self: center;
  justify-self: center;
}
.tickbox1 {
  grid-column-start: 4;
  grid-row-start: 1;
}
.tickbox2 {
  grid-column-start: 4;
  grid-row-start: 2;
}
.tickbox3 {
  grid-column-start: 4;
  grid-row-start: 3;
}
.tickbox4 {
  grid-column-start: 4;
  grid-row-start: 4;
}
.tickbox5 {
  grid-column-start: 4;
  grid-row-start: 5;
}
.clear {
  display: flex;
  width: 50px;
  height: 50px;
  align-self: flex-end;
  text-align: center;
}

.artifactImgs {
  grid-column-start: 5;
  grid-row-start: 1;
  grid-row-end: 6;
  overflow: scroll;
}
.artifactImgBox {
  display: inline-block;
  width: 200px;
  height: 200px;
  text-align: center;
}
.artifactImg {
  width: 150px;
  height: 150px;
}

.apiBox {
  font-size: 20px;
  display: grid;
  grid-template-columns: 200px 200px;

  grid-template-areas:
    'a a'
    'b b'
    'c d'
    'c e';
}
.gridareaa {
  grid-area: a;
}

.gridareab {
  grid-area: b;
}

.gridareac {
  grid-area: c;
}

.gridaread {
  grid-area: d;
}
.gridareae {
  grid-area: e;
}

.charName {
  font-size: 20px;
}
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=80)';
  filter: alpha(opacity=80);
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=20)';
  filter: alpha(opacity=20);
}

[contentEditable='true']:empty:not(:focus):before {
  content: attr(data-texting);
}

.preText {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  opacity: 0.8;
  color: red;
}

.fontColor {
  color: green;
  font-weight: bold;
  font-size: 20px;
}

@media screen and (max-width: 831px) {
  .mainContainer {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
  }
  .mainBox {
    display: grid;
    grid-template-columns: 200px 200px 250px 30px;
    grid-template-rows: 200px 200px 200px 200px 200px 500px;
    gap: 4px 4px;
  }

  .artifactImgs {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 6;
    overflow: scroll;
  }
}
